.show-map-button {
    padding: 7px 14px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold; /* Make the font thicker */
    cursor: pointer;
    border: 2px solid #000; /* Black border */
    border-radius: 5px;
    background-color: rgb(243, 137, 29); /* Orange background */
    color: #000; /* Black text */
    transition: all 0.3s ease; /* Smooth transition for hover and focus */
}

/* Button hover effect */
.show-map-button:hover {
    background-color: #ff7e00; /* Darker orange */
    transform: scale(1.05); /* Slightly enlarge the button */
}

/* Button focus effect (when the button is clicked or focused) */
.show-map-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 10px rgba(243, 137, 29, 0.5); /* Glow effect */
}

/* Button active effect (when the button is pressed) */
.show-map-button:active {
    background-color: #ff5c00; /* Even darker orange when pressed */
    transform: scale(0.98); /* Slightly shrink the button when clicked */
}

.map-container {
  height: 400px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 3px;
  position: relative;
}

.elevation-control {
  margin: 0 auto; 
  margin-bottom: 27px;
}

.button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  height: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.relive-button {
  width: 100px;
}

.strava-button {
  width: 30px;
}

.relive-button::before, .strava-button::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

.relive-button::before {
  background: url("https://metodlangus.github.io/photos/Relive_icon.svg") no-repeat center center;
  background-size: cover; /* Ensure the image covers the button */
}

.strava-button::before {
  background: url("https://metodlangus.github.io/photos/Strava_icon.svg") no-repeat center center;
  background-size: cover; /* Ensure the image covers the button */
}

@media (min-width: 633px) {
  .map-container, .elevation-control {
    width: 600px;
  }
  .map-container {
    height: 450px;
  }  
}       

