/* Custom Blog Posts Design Implementation - start */

.blog-posts.hfeed.container.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

.home.blog-posts {
  margin: 0px;
}

article.my-post-outer-container {
  max-width: 600px;
  margin: auto;
}

.my-post-outer-container a {
  color: #fff;
  text-decoration: none;
}

.my-post-outer-container .post {
  position: relative;
  z-index: 0; /* base stacking context */
}

.my-post-outer-container .post .my-snippet-thumbnail {
  filter: brightness(90%);
  position: relative;
  z-index: 0;
}

.my-post-outer-container .post .my-snippet-thumbnail img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  aspect-ratio: 4 / 3;
  display: block;
}

.my-post-outer-container .post .my-post-link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.my-post-outer-container .my-meta-data {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 24px;
  padding-bottom: 18px;
  gap: 8px;
  font-size: 10px;
  font-weight: 600;
  transition: all 400ms ease;
  z-index: 2;
}

.my-post-outer-container .my-meta-data > * {
  text-shadow: 2px 2px 4px #000;
}

.my-post-outer-container .post .my-title-container {
  position: absolute;
  bottom: 30px;
  padding: 24px;
  transition: all 400ms ease;
  z-index: 4;
}

.my-post-outer-container .post .my-title {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  margin: 0;
  color: #fff;
  z-index: 5;
  text-shadow: 2px 2px 4px #000;
  position: relative;
}

.my-post-outer-container .my-labels {
  background-color: rgba(243, 137, 29, 0.75);
  color: #222;
  font-size: 12px;
  font-weight: 800;
  padding: 2px 8px;
  margin-bottom: 10px;
  display: inline-block;
  z-index: 5;
  border-radius: 3px;
  position: relative;
}

.my-post-outer-container .my-tag-container .label-six {
  background-color: rgba(175, 175, 175, 0.75);
}

.my-post-outer-container .post .my-tag-container {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 24px;
  transition: all 400ms ease;
  z-index: 3;
}

.my-post-outer-container .post:hover .my-tag-container {
  opacity: 0.2;
}

.my-post-outer-container .post:hover .my-title-container {
  transform: translateY(40px);
  opacity: 0.2;
}

.my-post-outer-container .post:hover .my-meta-data {
  opacity: 0;
  transition: all 200ms ease;
}

/* Custom Blog Posts Design Implementation - end */

.my-post-container .photo-entry article.my-post-outer-container {
  margin: 0px auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.post-body .my-post-outer-container {
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

.my-post-outer-container .my-meta-data {
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

h2.my-title {
    border-bottom: none;
    padding-bottom: 0px;
}